{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="/css/account.css">
{% endblock %}


{% block title %}Login

{% endblock %}

{% block body %}
	<div class="main">

		<section
			class="signup">
			<!-- <img src="images/signup-bg.jpg" alt=""> -->
			<div class="container" style='  width: 600px; positon: relative; margin:100px auto;'>
				<div class="signup-content">
					<form action="" method="POST" id="signup-form" class="signup-form">
						<h2 class="form-title">Connectez vous !</h2>

						<div class="form-group">
							<input type="email" required class="form-input" name="_username" id="email" placeholder="Votre Prenom" value={{username}}/>
						</div>
						<div class="form-group">
							<input type="password" required class="form-input" name="_password" id="password" placeholder="Mot de Passe"/>
							<span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
						</div>

						<div class="form-group">
							<input type="submit" name="submit" id="submit" class="site-btn w-100" value="Sign up"/>
						</div>

						{% if hasError %}
							<p class="text-danger">**Login ou password incorrect</p>
						{% endif %}
					</form>
					<p class="loginhere">
						Pas de Compte ?
						<a href="#" class="loginhere-link">En Creer ici</a>
					</p>


				</p>
			</div>
		</div>
	</section>

</div>

{% include "footer.html.twig" %}{% endblock %}
